<!DOCTYPE html>
<html class="bg-slate-900">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="h-screen flex flex-col font-mono">
    <header
      class="flex-none h-36 grid place-content-center bg-slate-600 font-bold text-5xl shadow-md text-white p-4"
    >
      <h1>Store Inventory Manager</h1>
    </header>
    <main class="flex-grow grid grid-cols-[300px_1fr] bg-slate-900">
      <div
        class="bg-slate-800 p-6 m-6 rounded-md shadow-lg grid content-start gap-9"
      >
        <div>
          <h3 class="font-bold text-xl mb-3 text-white">Main Pages</h3>
          <ul class="grid content-start gap-1">
            <a href="/" class="text-cyan-100 hover:text-cyan-300">Home</a>
            <a href="/inventory" class="text-cyan-100 hover:text-cyan-300"
              >Inventory</a
            >
          </ul>
        </div>
        <hr />
        <div>
          <h3 class="font-bold text-xl mb-3 text-white">Visitor Actions</h3>
          <ul class="grid content-start gap-1">
            <a
              href="/inventory/categories"
              class="text-cyan-100 hover:text-cyan-300"
              >Categories</a
            >
            <a href="/inventory/items" class="text-cyan-100 hover:text-cyan-300"
              >Products</a
            >
          </ul>
        </div>
        <hr />
        <div>
          <h3 class="font-bold text-xl mb-3 text-white">Admin Actions</h3>
          <ul class="grid content-start gap-1">
            <a
              href="/inventory/categories/create"
              class="text-cyan-100 hover:text-cyan-300"
              >Create Category</a
            >
            <a
              href="/inventory/items/create"
              class="text-cyan-100 hover:text-cyan-300"
              >Create Product</a
            >
          </ul>
        </div>
      </div>
      <div
        class="bg-slate-700 p-6 m-6 rounded-md shadow-lg grid content-start gap-4"
      >
        <h2 class="text-3xl text-white font-bold"><%= header %></h2>
        <!-- START OF DYNAMIC CONTENT -->
        <% if (locals.allCategories && locals.allCategories.length) { %>
        <form action="" method="POST" class="flex flex-col max-w-96 gap-4">
          <div class="flex flex-col gap-2 text-white">
            <label for="category">Category:</label>
            <select
              name="category"
              id="category"
              class="text-slate-900 p-1 rounded min-w-48 h-8"
              required
            >
              <% locals.allCategories.forEach(category => { %> <% if
              (locals.postVals && postVals.category.toString() ===
              category._id.toString()) { %>
              <option value="<%= category._id %>" selected>
                <%= category.name %>
              </option>
              <% } else if (locals.item && item.category._id.toString() ===
              category._id.toString()) { %>
              <option value="<%= category._id %>" selected>
                <%= category.name %>
              </option>
              <% } else { %>
              <option value="<%= category._id %>"><%= category.name %></option>
              <% } %> <% }) %>
            </select>
          </div>
          <hr />
          <div class="flex flex-col gap-2 text-white">
            <label for="name">Name:</label>
            <input type="text" class="appearance-none text-slate-900 p-1
            rounded" minlength="2" maxlength="25" required value="<%=
            locals.postVals ? postVals.name : locals.item ? item.name : "" %>"
            id="name" name="name" />
          </div>
          <div class="flex flex-col gap-2 text-white">
            <label for="description">Description:</label>
            <input type="text" class="appearance-none text-slate-900 p-1
            rounded" minlength="2" maxlength="100" required value="<%=
            locals.postVals ? postVals.description : locals.item ?
            item.description : "" %>" name="description" id="description" />
          </div>
          <hr />
          <div class="flex flex-col gap-2 text-white">
            <label for="price">Price:</label>
            <input type="number" step=".01" class="appearance-none
            text-slate-900 p-1 rounded max-w-20" min="0" required value="<%=
            locals.postVals ? postVals.price : locals.item ? item.price : "" %>"
            id="price" name="price" />
          </div>
          <div class="flex flex-col gap-2 text-white">
            <label for="numberInStock">Number In Stock:</label>
            <input type="number" class="appearance-none text-slate-900 p-1
            rounded max-w-20" min="0" max="100" required value="<%=
            locals.postVals ? postVals.numberInStock : locals.item ?
            item.numberInStock : "" %>" id="numberInStock" name="numberInStock"
            />
          </div>
          <hr />
          <div class="flex flex-col gap-2 text-white">
            <label for="imgUrl">Image URL: (only from unsplash.com)</label>
            <input type="text" class="appearance-none text-slate-900 p-1
            rounded" value="<%= locals.postVals ? postVals.imgUrl : locals.item
            ? item.imgUrl : "" %>" id="imgUrl" name="imgUrl" />
          </div>
          <hr />
          <div class="flex flex-col gap-2 text-white">
            <label for="password">Admin Password:</label>
            <input
              type="password"
              class="appearance-none text-slate-900 p-1 rounded"
              id="password"
              name="password"
              required
            />
          </div>
          <input
            type="submit"
            class="text-white bg-blue-500 rounded py-3 mt-3 hover:cursor-pointer hover:bg-blue-400"
          />
          <% if (locals.errors) { %>
          <ul class="text-red-300 text-sm">
            <% errors.forEach(error => { %>
            <li><%= error %></li>
            <% }) %>
          </ul>
          <% } %>
        </form>
        <% } else { %>
        <p class="text-white">
          You need to add a category before creating a product!
        </p>
        <% } %>
        <!-- END OF DYNAMIC MAIN CONTENT -->
      </div>
    </main>
    <footer
      class="flex-initial h-28 text-center text-xl grid place-content-center font-bold bg-amber-200 p-4"
    >
      <p class="text-slate-900">2024 Copyright Maximilian Aoki</p>
    </footer>
  </body>
</html>
